.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.somaiya{
    width: 5vw;
    height: 5vw;
    margin-left:2vw;
}
.eta{
    width: 5vw;
    height: 5vw;
    margin: 0 0 2vw -25vw;
}
.link-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:1vw ;
    text-decoration: none;
    color:black ;
    font-size: 1vw;
}
.parallax {
    background-image: url('../images/BG-mahil-img.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.navbar {
    background-image: url('../images/BG-mahil-img.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.navbar .link-nav {
    color:; 
}
.parallax-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax-text h1 {
    color: white;
    font-size: 220px;
    font-family: Inria Sans;
    font-weight: 700;
    letter-spacing: 22px;
    word-wrap: break-word;
    text-align: center;
    background: linear-gradient(180deg, #FFF 0%, rgba(12, 12, 12, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.parallax-text p {
    color: white;
    font-size: 4vw;
    font-family: Inria Sans;
    font-weight: 700;
    letter-spacing: 10px;
    word-wrap: break-word;
    text-align: center;
}
